body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.card {
  margin-bottom: 25px;
  border-color: var(--secondary);
}

.card-header{
  background-color: var(--secondary);
  color: var(--white);
}

.divider {
  border-color: var(--primary);
  background-color: var(--primary);
  text-align: center;
}

h1{
  padding-top: 25px;
  padding-bottom: 25px;
}

.App {
  text-align: center;
}
